{
  "openapi": "3.1.0",
  "info": {
    "title": "Gradium API",
    "description": "This documentation covers the Gradium API.\n\nThis API exposes our Text-To-Speech and Speech-To-Text models, which offers low-latency, high-quality & natural sounding output and best in class accuracy.  \n\nFor issues, questions, or feature requests, please contact us at support@gradium.ai",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://eu.api.gradium.ai/api",
      "description": "EU API"
    },
    {
      "url": "https://us.api.gradium.ai/api",
      "description": "US API"
    }
  ],
  "paths": {
    "/voices/": {
      "post": {
        "tags": [
          "Voices"
        ],
        "summary": "Create Voice",
        "description": "Create a new voice for an organization with audio file upload.",
        "operationId": "create_voice_voices__post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_voice_voices__post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "Get Voices",
        "description": "List voices for the authenticated organization.",
        "operationId": "get_voices_voices__get",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Skip"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "include_catalog",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Catalog"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VoiceResponse"
                  },
                  "title": "Response Get Voices Voices  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/voices/{voice_uid}": {
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "Get Voice",
        "description": "Get a voice by its UID. Optional org_uid and key_uid for access control.",
        "operationId": "get_voice_voices__voice_uid__get",
        "parameters": [
          {
            "name": "voice_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Voice Uid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Voices"
        ],
        "summary": "Update Voice",
        "description": "Update a voice by its UID.",
        "operationId": "update_voice_voices__voice_uid__put",
        "parameters": [
          {
            "name": "voice_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Voice Uid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Voices"
        ],
        "summary": "Delete Voice",
        "description": "Delete a voice by its UID.",
        "operationId": "delete_voice_voices__voice_uid__delete",
        "parameters": [
          {
            "name": "voice_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Voice Uid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/usages/credits": {
      "get": {
        "tags": [
          "metering"
        ],
        "summary": "Get Credits",
        "description": "Get current credit balance for the authenticated user's subscription.",
        "operationId": "get_credits_usages_credits_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsSummary"
                }
              }
            }
          }
        }
      }
    },
    "/tts": {
      "get": {
        "tags": [
          "TTS"
        ],
        "summary": "TTS WebSocket Stream",
        "description": "# WebSocket Endpoint for Text-to-Speech Streaming\n\nConnect to this endpoint via WebSocket for real-time text-to-speech conversion with low latency audio streaming.\n\n**Connection URL:**\n\nFor Europe\n```\nwss://eu.api.gradium.ai/api/speech/tts\n```\n\nFor the USA\n```\nwss://us.api.gradium.ai/api/speech/tts\n```\n\n\n**Authentication:**\nInclude your API key in the WebSocket connection header:\n- Header: `x-api-key: your_api_key`\n\n---\n\n## Quick Reference\n\n| Direction | Message Type | Example |\n|-----------|-------------|---------|\n| 🔵⬆️ Client→Server | Setup (first) | `{\"type\": \"setup\", \"voice_id\": \"YTpq7expH9539ERJ\", \"model_name\": \"default\", \"output_format\": \"wav\"}` |\n| 🟢⬇️ Server→Client | Ready | `{\"type\": \"ready\", \"request_id\": \"uuid\"}` |\n| 🔵⬆️ Client→Server | Text | `{\"type\": \"text\", \"text\": \"Hello, world!\"}` |\n| 🟢⬇️ Server→Client | Audio (stream) | `{\"type\": \"audio\", \"audio\": \"base64...\"}` |\n| 🔵⬆️ Client→Server | EndOfStream | `{\"type\": \"end_of_stream\"}` |\n| 🟢⬇️ Server→Client | AEndOfStream | `{\"type\": \"end_of_stream\"}` |\n| 🔴⬇️ Server→Client | Error | `{\"type\": \"error\", \"message\": \"Error description\", \"code\": 1008}` |\n\n---\n\n## Message Types\n\n### 1. Setup Message (First Message)\n\n**Direction:** Client → Server\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"setup\",\n  \"model_name\": \"default\",\n  \"voice_id\": \"YTpq7expH9539ERJ\",\n  \"output_format\": \"wav\"\n}\n```\n\n**Fields:**\n- `type` (string, required): Must be \"setup\"\n- `model_name` (string, required): The TTS model to use (default: \"default\")\n- `voice_id` (string, required): Voice ID from the library (e.g., \"YTpq7expH9539ERJ\" for Emma's voice) or custom voice ID\n- `output_format` (string, required): Audio format - either \"wav\", \"pcm\", or \"opus\".\n\n**Important:** This must be the very first message sent after connection. The server will close the connection if any other message is sent first.\n\n---\n\n### 2. Ready Message\n\n**Direction:** Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"ready\",\n  \"request_id\": \"550e8400-e29b-41d4-a716-446655440000\"\n}\n```\n\n**Fields:**\n- `type` (string): Will be \"ready\"\n- `request_id` (string): Unique identifier for the session\n\nThis message is sent by the server after receiving the setup message, indicating that the connection is ready to receive text messages.\n\n---\n\n### 3. Text Message (Subsequent Messages)\n\n**Direction:** Client → Server\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"text\",\n  \"text\": \"Hello, world!\"\n}\n```\n\n**Fields:**\n- `type` (string, required): Must be \"text\"\n- `text` (string, required): The text to be converted to speech\n\nSend text messages to be converted to speech. You can send multiple text messages in sequence. The server will stream audio back as it's generated.\n\n---\n\n### 4. Audio Response\n\n**Direction:** Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"audio\",\n  \"audio\": \"base64_encoded_audio_data...\"\n}\n```\n\n**Fields:**\n- `type` (string): Will be \"audio\"\n- `audio` (string): Base64-encoded audio data in the requested format\n\n**Important:** Multiple audio messages will be streamed for each text message. Continue receiving until you detect the end of speech or receive a new message type.\n\n---\n\n### 5. End Of Stream\n\n**Direction:** Client → Server and Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"end_of_stream\",\n}\n```\n\nThis message is sent by the client when it has submitted all the text that it\nwants to be considered. The server will then send back all the remaining audio\nuntil all the text has been processed, then an `EndOfStream` message, and then\ncloses the websocket connection.\n\n---\n\n## Error Handling\n\nWhen errors occur, the server sends an error message as JSON before closing the connection:\n\n**Error Message Format:**\n```json\n{\n  \"type\": \"error\",\n  \"message\": \"Error description explaining what went wrong\",\n  \"code\": 1008\n}\n```\n\n**Common Error Codes:**\n- `1008`: Policy Violation (e.g., invalid API key, missing setup message)\n- `1011`: Internal Server Error (unexpected server-side error)\n\n---\n\n## Best Practices\n\n1. **Always send setup first**: The server expects a setup message immediately after connection\n2. **Handle audio streaming**: Audio responses are streamed in chunks - buffer and process appropriately\n3. **Implement reconnection logic**: Network issues happen - build in automatic reconnection with exponential backoff\n4. **Monitor connection health**: Implement ping/pong or periodic checks to detect stale connections\n5. **Graceful error handling**: Parse error messages and handle different error codes appropriately\n6. **Reuse connections**: For multiple utterances, keep the connection alive and send multiple text messages\n7. **Close cleanly**: Always close WebSocket connections properly when done\n\n---\n",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Gradium API key"
          }
        ],
        "responses": {
          "101": {
            "description": "WebSocket connection established"
          }
        }
      }
    },
    "/stt": {
      "get": {
        "tags": [
          "STT"
        ],
        "summary": "STT WebSocket Stream",
        "description": "# WebSocket Endpoint for Speech-to-Text Streaming\n\nConnect to this endpoint via WebSocket for real-time speech-to-text conversion with streaming audio input.\n\n**Connection URL:**\n\nFor Europe\n```\nwss://eu.api.gradium.ai/api/speech/asr\n```\n\nFor the USA\n```\nwss://us.api.gradium.ai/api/speech/asr\n```\n\n**Authentication:**\nInclude your API key in the WebSocket connection header:\n- Header: `x-api-key: your_api_key`\n\n---\n\n## Quick Reference\n\n| Direction | Message Type | Example |\n|-----------|-------------|---------|\n| 🔵⬆️ Client→Server | Setup (first) | `{\"type\": \"setup\", \"model_name\": \"default\", \"input_format\": \"pcm\"}` |\n| 🟢⬇️ Server→Client | Ready | `{\"type\": \"ready\", \"request_id\": \"uuid\", \"model_name\": \"default\", \"sample_rate\": 24000}` |\n| 🔵⬆️ Client→Server | Audio | `{\"type\": \"audio\", \"audio\": \"base64...\"}` |\n| 🟢⬇️ Server→Client | Text (result) | `{\"type\": \"text\", \"text\": \"Hello world\", \"start_s\": 0.5}` |\n| 🟢⬇️ Server→Client | VAD (activity) | `{\"type\": \"step\", \"vad\": [...], \"step_idx\": 5, \"step_duration_s\": 0.08}` |\n| 🟢⬇️ Server→Client | End Text | `{\"type\": \"end_text\", \"stop_s\": 2.5}` |\n| 🔵⬆️ Client→Server | EndOfStream | `{\"type\": \"end_of_stream\"}` |\n| 🟢⬇️ Server→Client | EndOfStream | `{\"type\": \"end_of_stream\"}` |\n| 🔴⬇️ Server→Client | Error | `{\"type\": \"error\", \"message\": \"Error description\", \"code\": 1008}` |\n\n---\n\n## Message Types\n\n### 1. Setup Message (First Message)\n\n**Direction:** Client → Server\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"setup\",\n  \"model_name\": \"default\",\n  \"input_format\": \"pcm\"\n}\n```\n\n**Fields:**\n- `type` (string, required): Must be \"setup\"\n- `model_name` (string, required): The Speech-To-Text model to use (default: \"default\")\n- `input_format` (string, required): Audio format - \"pcm\", \"wav\", or \"opus\"\n\n**Important:** This must be the very first message sent after connection. The server will close the connection if any other message is sent first.\n\n---\n\n### 2. Ready Message\n\n**Direction:** Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"ready\",\n  \"request_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n  \"model_name\": \"default\",\n  \"sample_rate\": 24000,\n  \"frame_size\": 1920,\n  \"delay_in_tokens\": 0,\n  \"text_stream_names\": []\n}\n```\n\n**Fields:**\n- `type` (string): Will be \"ready\"\n- `request_id` (string): Unique identifier for the session\n- `model_name` (string): The Speech To Text model being used\n- `sample_rate` (integer): Expected sample rate in Hz (typically 24000)\n- `frame_size` (int): Number of samples by which the model processes data (typically 1920 which is equivalent to 80ms at 24kHz)\n- `delay_in_tokens` (integer): Delay in tokens for the model\n- `text_stream_names` (array): List of text stream names\n\nThis message is sent by the server after receiving the setup message, indicating that the connection is ready to receive audio.\n\n---\n\n### 3. Audio Message\n\n**Direction:** Client → Server\n**Format:** JSON Object (with binary audio data)\n\n```json\n{\n  \"type\": \"audio\",\n  \"audio\": \"base64_encoded_audio_data...\"\n}\n```\n\n**Fields:**\n- `type` (string, required): Must be \"audio\"\n- `audio` (string, required): Base64-encoded audio data\n\n**Audio Format Requirements (for PCM input):**\n- **Sample Rate**: 24000 Hz (24kHz)\n- **Format**: PCM (Pulse Code Modulation)\n- **Bit Depth**: 16-bit signed integer (little-endian)\n- **Channels**: Single channel (mono)\n- **Chunk Size**: Recommended 1920 samples per chunk (80ms at 24kHz)\n\nSend audio messages to be transcribed. You can send multiple audio messages in sequence. The server will stream text and VAD responses as it processes the audio.\n\n---\n\n### 4. Text Response\n\n**Direction:** Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"text\",\n  \"text\": \"Hello world\",\n  \"start_s\": 0.5,\n  \"stream_id\": null\n}\n```\n\n**Fields:**\n- `type` (string): Will be \"text\"\n- `text` (string): The transcribed text\n- `start_s` (float): Start time of the transcription in seconds\n- `stream_id` (integer or null): Stream identifier for tracking multiple concurrent streams\n\nText messages contain the transcribed speech. Multiple text messages will be streamed as the audio is processed.\n\n---\n\n### 5. VAD Response (Voice Activity Detection)\n\n**Direction:** Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"step\",\n  \"vad\": [\n    {\n      \"horizon_s\": 0.5,\n      \"inactivity_prob\": 0.05\n    },\n    {\n      \"horizon_s\": 1.0,\n      \"inactivity_prob\": 0.08\n    },\n    {\n      \"horizon_s\": 2.0,\n      \"inactivity_prob\": 0.12\n    }\n  ],\n  \"step_idx\": 5,\n  \"step_duration_s\": 0.08,\n  \"total_duration_s\": 0.4\n}\n```\n\n**Fields:**\n- `type` (string): Will be \"step\"\n- `vad` (array): List of VAD predictions with future horizons\n  - `horizon_s` (float): Lookahead duration in seconds\n  - `inactivity_prob` (float): Probability that voice activity has ended by this horizon in seconds.\n- `step_idx` (integer): The step index (increments every 80ms)\n- `step_duration_s` (float): Duration of this step in seconds (typically 0.08)\n- `total_duration_s` (float): Total duration of audio processed so far\n\n**VAD Interpretation:**\n- VAD messages are emitted every 80ms (one per audio frame)\n- Use the `inactivity_prob` value from the longest horizon to determine if the speaker has likely finished\n- Higher `inactivity_prob` values indicate higher confidence that speaking has ended\n- Recommended threshold: Use `vad[2][\"inactivity_prob\"]` (third prediction) as the turn-taking indicator\n\n---\n\n### 6. End Text Response\n\n**Direction:** Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"end_text\",\n  \"stop_s\": 2.5,\n  \"stream_id\": null\n}\n```\n\n**Fields:**\n- `type` (string): Will be \"end_text\"\n- `stop_s` (float): Stop time of last `text` message in seconds\n- `stream_id` (integer or null): Stream identifier\n\nSent when the previous text segment has a finished and its end timestamp is\navailable.\n\n---\n\n### 7. End Of Stream\n\n**Direction:** Client → Server and Server → Client\n**Format:** JSON Object\n\n```json\n{\n  \"type\": \"end_of_stream\"\n}\n```\n\nThis message is sent by the client when it has finished sending audio. The server will then process any remaining audio and send back all outstanding text results, VAD information, and then an `end_of_stream` message before closing the connection.\n\n---\n\n## Error Handling\n\nWhen errors occur, the server sends an error message as JSON before closing the connection:\n\n**Error Message Format:**\n```json\n{\n  \"type\": \"error\",\n  \"message\": \"Error description explaining what went wrong\",\n  \"code\": 1008\n}\n```\n\n**Common Error Codes:**\n- `1008`: Policy Violation (e.g., invalid API key, missing setup message, invalid audio format)\n- `1011`: Internal Server Error (unexpected server-side error)\n\n---\n\n## Best Practices for STT\n\n1. **Always send setup first**: The server expects a setup message immediately after connection\n2. **Use correct audio format**: When using PCM, ensure audio is 24kHz PCM 16-bit mono\n3. **Send appropriately sized chunks**: 1920 samples (80ms) per message is recommended\n4. **Graceful shutdown**: Send `end_of_stream` when done to properly close the session\n",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Gradium API key"
          }
        ],
        "responses": {
          "101": {
            "description": "WebSocket connection established"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Body_create_voice_voices__post": {
        "properties": {
          "audio_file": {
            "type": "string",
            "format": "binary",
            "title": "Audio File"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "input_format": {
            "type": "string",
            "title": "Input Format"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language"
          },
          "start_s": {
            "type": "number",
            "title": "Start S",
            "default": 0
          },
          "timeout_s": {
            "type": "number",
            "title": "Timeout S",
            "default": 10
          }
        },
        "type": "object",
        "required": [
          "audio_file",
          "name"
        ],
        "title": "Body_create_voice_voices__post"
      },
      "CreditsSummary": {
        "properties": {
          "remaining_credits": {
            "type": "integer",
            "title": "Remaining Credits"
          },
          "allocated_credits": {
            "type": "integer",
            "title": "Allocated Credits"
          },
          "billing_period": {
            "type": "string",
            "title": "Billing Period"
          },
          "next_rollover_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Rollover Date"
          },
          "plan_name": {
            "type": "string",
            "title": "Plan Name",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "remaining_credits",
          "allocated_credits",
          "billing_period"
        ],
        "title": "CreditsSummary",
        "description": "Summary of credits for current billing period."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "VoiceCreateResponse": {
        "properties": {
          "uid": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uid"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          },
          "was_updated": {
            "type": "boolean",
            "title": "Was Updated",
            "default": false
          }
        },
        "type": "object",
        "title": "VoiceCreateResponse"
      },
      "VoiceResponse": {
        "properties": {
          "uid": {
            "type": "string",
            "title": "Uid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language"
          },
          "start_s": {
            "type": "number",
            "title": "Start S"
          },
          "stop_s": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop S"
          },
          "filename": {
            "type": "string",
            "title": "Filename"
          }
        },
        "type": "object",
        "required": [
          "uid",
          "name",
          "start_s",
          "filename"
        ],
        "title": "VoiceResponse",
        "description": "Schema for voice response data."
      },
      "VoiceUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language"
          },
          "start_s": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start S"
          },
          "tags": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tags"
          },
          "rank": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rank"
          }
        },
        "type": "object",
        "title": "VoiceUpdate",
        "description": "Schema for updating voice data."
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "Documentation",
      "tags": [
        "Documentation"
      ]
    },
    {
      "name": "API Reference",
      "tags": [
        "TTS",
        "STT",
        "Voices",
        "Credits"
      ]
    }
  ],
  "tags": [
    {
      "name": "Documentation",
      "description": "# Features\n\n- **Multilingual**: We currently support five languages: English (en), French (fr), German (de), Spanish (es) and Portuguese (pt) for our Text-To-Speech and Speech-To-Text with more languages to come. \n- **Low-latency**: Our servers are based in Europe and in the US, with our expected time-to-first-token is below 300ms when streaming.\n- **Voice selection**: We provide a voice library, with multiple voices to choose from in different languages. You can also clone voices instantaneously using a 10'' voice sample. \n\n# Installation\n\n```bash\npip install gradium\n```\n\n# Quick Start\n\n```python\nimport asyncio\nimport gradium\n\nasync def main():\n    client = gradium.client.GradiumClient(api_key=\"your-api-key\")\n\n    result = await gradium.speech.tts(\n        client,\n        setup={\"voice_id\": \"YTpq7expH9539ERJ\", \"output_format\": \"wav\"},\n        text=\"Welcome to Gradium! Transform your text into natural-sounding speech in seconds.\"\n    )\n\n    with open(\"welcome.wav\", \"wb\") as f:\n        f.write(result.raw_data)\n\nif __name__ == \"__main__\":\n    asyncio.run(main())\n```\n\n# Creating a Client\n\n## Using API Key Directly\n\n```python\nimport gradium\n\nclient = gradium.client.GradiumClient(api_key=\"gd_your_api_key_here\")\n```\n\n## Using Environment Variable\n\nSet the `GRADIUM_API_KEY` environment variable:\n\n```bash\nexport GRADIUM_API_KEY=gd_your_api_key_here\n```\n\nThen create the client without passing the API key:\n\n```python\nclient = gradium.client.GradiumClient()\n```\n\n# Text-to-Speech (TTS)\n\n## Basic Usage\n\n```python\nimport gradium\n\nclient = gradium.client.GradiumClient()\nresult = await gradium.speech.tts(\n    client,\n    setup={\n        \"model_name\": \"default\", \n        \"voice_id\": \"YTpq7expH9539ERJ\",\n        \"output_format\": \"wav\"\n    },\n    text=\"Hello, world!\"\n)\n\nwith open(\"output.wav\", \"wb\") as f:\n    f.write(result.raw_data)\n\nprint(f\"Sample rate: {result.sample_rate}\")\nprint(f\"Request ID: {result.request_id}\")\n```\n\n## Setup Parameters\n\n- **`model_name`**: The TTS model to use (default: `\"default\"`)\n- **`voice_id`**: The voice id of the voice to be used. The voice id can be found in the voice library section of this documentation or in the studio.\n- **`output_format`**: Audio format of the input data (supported: `\"pcm\"`,\n  `\"wav\"`, `\"opus\"`, ...)\n\nWhen using `\"pcm\"` output format, the audio will adhere to the following\nspecifications:\n- **Sample Rate**: 48000 Hz (48kHz)\n- **Format**: PCM (Pulse Code Modulation)\n- **Bit Depth**: 16-bit signed integer\n- **Channels**: Single channel (mono)\n- **Chunk Size**: 3840 samples per chunk (80ms at 48kHz)\n\nAlternative output formats include `\"ulaw_8000\"`, `\"alaw_8000\"`, `\"pcm_16000\"`, and\n`\"pcm_24000\"`.\n\n\n## Streaming TTS\n\nThe TTS can be used in a streaming fashion. The first chunks of audio will be\navailable as soon as they are generated.\nWhen using the `\"pcm\"` output format, the audio chunks will be in raw PCM\nformat sampled at 48kHz using 16-bit signed integer (little-endian) mono.\n\n```python\nstream = await gradium.speech.tts_stream(\n    client,\n    setup={\n        \"model_name\": \"default\",\n        \"voice_id\": \"LFZvm12tW_z0xfGo\",\n        \"output_format\": \"pcm\"\n    },\n    text=\"This is a longer text that will be streamed.\"\n)\n\nasync for audio_chunk in stream.iter_bytes():\n    print(f\"Received {len(audio_chunk)} bytes\")\n```\n\n## Using Custom Voices\n\n```python\nresult = await gradium.speech.tts(\n    client,\n    setup={\n        \"model_name\": \"default\",\n        \"voice_id\": \"YTpq7expH9539ERJ\",\n        \"output_format\": \"wav\"\n    },\n    text=\"Hello with my custom voice!\"\n)\n```\n\n## Output Formats\n\n```python\n# WAV format\nresult = await gradium.speech.tts(client, setup={\"voice_id\": \"YTpq7expH9539ERJ\", \"output_format\": \"wav\"}, text=\"Hello\")\n\n# PCM format: the data is sampled at 48kHz, 16-bit signed integer, mono\nresult = await gradium.speech.tts(client, setup={\"voice_id\": \"YTpq7expH9539ERJ\", \"output_format\": \"pcm\"}, text=\"Hello\")\n\n# Get numpy array from PCM\npcm_array = result.pcm()\npcm16_array = result.pcm16()\n```\n\n## Speed Control \n\n```python\n# You can guide the speed of the model using the padding bonus parameter.\n# Default value is 0.0\n# Negative values mean that the speaker will speak faster (values between -4.0 and -0.1)\n# Positive values mean that the speaker will speak slower (values between 0.1 and 4.0)\n\nsample_text = \"Hello, this is a test from the Gradium Text to Speech system. We are testing the speed.\"\n\nslower_audio = await gradium.speech.tts(\n    client,\n    setup={'voice_id': 'YTpq7expH9539ERJ', 'output_format': 'wav', 'json_config':{'padding_bonus':2.0}},\n    text=sample_text,\n    )\n\nfaster_audio = await gradium.speech.tts(\n    client,\n    setup={'voice_id': 'YTpq7expH9539ERJ', 'output_format': 'wav', 'json_config':{'padding_bonus':-2.0}},\n    text=sample_text,\n    )\n```\n\n## Breaks \n\n```python\n# The pause is generated with the tag <break time=\"1.5s\" />\n# The break time should be between 0.1 and 2.0s \n# The break tag must be preceeded and followed by a space\n\nsample_text = \"\"\"Hello, this is a test from the Gradium Text to Speech system. <break time=\"1.5s\" /> We are testing the pause.\"\"\"\n\ntest_audio = await gradium.speech.tts(\n    client,\n    setup={'voice_id': 'YTpq7expH9539ERJ', 'output_format': 'wav'},\n    text=sample_text,\n    )\n```\n\n## Text with Timestamps\n\n```python\nresult = await gradium.speech.tts(\n    client,\n    setup={\"voice_id\": \"YTpq7expH9539ERJ\", \"output_format\": \"wav\"},\n    text=\"Hello, world!\"\n)\n\nfor item in result.text_with_timestamps:\n    print(f\"{item.text}: {item.start_s:.2f}s - {item.stop_s:.2f}s\")\n```\n\n\n## Async Generator Input\n\n```python\nasync def text_generator():\n    yield \"Hello, \"\n    yield \"this is \"\n    yield \"a streaming \"\n    yield \"example.\"\n\nstream = await gradium.speech.tts_stream(\n    client,\n    setup={\"voice_id\": \"YTpq7expH9539ERJ\", \"output_format\": \"pcm\"},\n    text=text_generator()\n)\n\nasync for chunk in stream.iter_bytes():\n    pass\n```\n\n# Voices Library\n\nGradium provides a selection of high-quality voices across multiple languages. Here are our voices.\n\n## Flaghsip Voices\n\n\n| Name | Voice ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| Language | Country | Age Group | Gender | Description |\n| :--- | :--- | :---: | :---: | :---: | :---: | :--- |\n| **Emma** | `YTpq7expH9539ERJ` | `en` | `us` 🇺🇸 | Adult | Feminine | A pleasant and smooth female voice ready to assist your customers and also eager to have nice conversations. |\n| **Kent** | `LFZvm12tW_z0xfGo` | `en` | `us` 🇺🇸 | Adult | Masculine | A relaxed and authentic American adult voice that connects like a genuine friend. |\n| **Sydney** | `jtEKaLYNn6iif5PR` | `en` | `us` 🇺🇸 | Adult | Feminine | A joyful and airy American adult voice that makes corporate training feel helpful and light.|\n| **John** | `KWJiFWu2O9nMPYcR` | `en` | `us` 🇺🇸 | Adult | Masculine | A warm low-pitched American adult voice with the resonant quality of a classic radio broadcaster. |\n| **Eva** | `ubuXFxVQwVYnZQhy` | `en` | `gb` 🇬🇧 | Adult | Feminine | A joyful and dynamic British adult voice ideal for lively conversations. |\n| **Jack** | `m86j6D7UZpGzHsNu` | `en` | `gb` 🇬🇧 | Adult | Masculine | A pleasant British voice suited for helpful service, casual conversations, or intense narrations. |\n| **Elise** | `b35yykvVppLXyw_l` | `fr` | `fr` 🇫🇷 | Adult | Feminine | A warm and smooth French adult voice ideal for friendly conversation and welcoming support. |\n| **Leo** | `axlOaUiFyOZhy4nv` | `fr` | `fr` 🇫🇷 | Adult | Masculine | A warm and smooth French adult voice ideal for friendly conversation and welcoming support. |\n| **Mia** | `-uP9MuGtBqAvEyxI` | `de` | `de` 🇩🇪 | Adult | Feminine | A joyful and energetic German voice perfect for professional context as well as enthusiastic discussions. |\n| **Maximilian** | `0y1VZjPabOBU3rWy` | `de` | `de` 🇩🇪 | Adult | Masculine | A warm and smooth German adult voice ideal for friendly conversation and professional narration. |\n| **Valentina** | `B36pbz5_UoWn4BDl` | `es` | `mx` 🇲🇽 | Adult | Feminine | A warm and engaging Mexican female voice perfect for natural storytelling and connecting like a genuine friend. |\n| **Sergio** | `xu7iJ_fn2ElcWp2s` | `es` | `es` 🇪🇸 | Adult | Masculine | A warm and smooth Spanish adult voice ideal for friendly conversation and professional narration. |\n| **Alice** | `pYcGZz9VOo4n2ynh` | `pt` | `br` 🇧🇷 | Adult | Feminine | A warm and smooth Brazilian female voice ideal for professional service and pleasant narration or even an enthusiastic conversation! |\n| **Davi** | `M-FvVo9c-jGR4PgP` | `pt` | `br` 🇧🇷 | Adult | Masculine | An engaging and smooth Brazilian adult voice ideal for helpful service and relaxing conversations. |\n\n\n## All Voices \n\n<details>\n  <summary>View all voices</summary>\n\nName | voice_id | Language | Country | Perceived age | Perceived gender | Description\n| :--- | :--- | :--- | :--- | :--- | :--- | :---\nEva | ubuXFxVQwVYnZQhy | en | gb | Adult | Feminine | A joyful and dynamic British adult voice ideal for lively conversations\nJack | m86j6D7UZpGzHsNu | en | gb | Adult | Masculine | A pleasant British voice suited for helpful service casual conversations or intense narrations\nEmma | YTpq7expH9539ERJ | en | us | Adult | Feminine | A pleasant and smooth female voice ready to assist your customers and also eager to have nice converstations\nKent | LFZvm12tW_z0xfGo | en | us | Adult | Masculine | A relaxed and authentic American adult voice that connects like a genuine friend.\nMia | -uP9MuGtBqAvEyxI | de | de | Adult | Feminine | A joyful and energetic German voice perfect for professional context as well as enthusiastic discussions.\nMaximilian | 0y1VZjPabOBU3rWy | de | de | Adult | Masculine | A warm and smooth German adult voice ideal for friendly conversation and professional narration.\nValentina | B36pbz5_UoWn4BDl | es | mx | Adult | Feminine | A warm and engaging Mexican female voice perfect for natural storytelling and connecting like a genuine friend.\nSergio | xu7iJ_fn2ElcWp2s | es | es | Adult | Masculine | A warm and smooth Spanish adult voice ideal for friendly conversation and professional narration.\nElise | b35yykvVppLXyw_l | fr | fr | Adult | Feminine | A warm and smooth French adult voice ideal for friendly conversation and welcoming support.\nLeo | axlOaUiFyOZhy4nv | fr | fr | Adult | Masculine | A warm and smooth French adult voice ideal for friendly conversation and welcoming support.\nAlice | pYcGZz9VOo4n2ynh | pt | br | Adult | Feminine | A warm and smooth Brazilian female voice ideal for professional service and pleasant narration or even an enthusiastic conversation!\nDavi | M-FvVo9c-jGR4PgP | pt | br | Adult | Masculine | An engaging and smooth Brazilian adult voice ideal for helpful service and relaxing conversations.\nMax | NoJdNY6JTz-VJLwz | en | ca | Young Adult | Masculine | A clear calm and measured male voice.\nKelly | Lxc7YlPC8ckLJA8H | en | gb | Adult | Feminine | Clear soft and measured female narration.\nArjun | -_aUUFZaJ0CT1gks | en | in | Adult | Masculine | A warm voice with a clear low-pitch and a smooth texture.\nHunter | W5htOuyiFI4Fwhxs | en | au | Adult | Masculine | A joyful and smooth Australian adult voice that keeps listeners tuned in with radio charm.\nTiffany | Eu9iL_CYe8N-Gkx_ | en | us | Young Adult | Feminine | A warm and smooth American young adult voice that greets customers with a smile you can hear.\nChristina | 2H4HY2CBNyJHBCrP | en | us | Adult | Feminine | A joyful low-pitched American adult voice that handles business and service with efficiency.\nMaria | KNYHZTB8ZqdAZv5Q | en | us | Adult | Feminine | A joyful high-pitched American adult voice that teaches and tutors with genuine energy.\nMark | dh0EzP6jCroK6prq | en | us | Adult | Masculine | A warm low-pitched American adult voice that resonates with professional radio quality.\nLogan | XJc-Y9tkSd1UA7s4 | en | us | Young Adult | Masculine | A joyful and smooth American young adult voice that fits the energetic vibe of a gym coach.\nJuan | 78zAgQK6xmExb8wS | en | us | Adult | Masculine | A joyful and smooth American adult voice that welcomes and hosts with vibrant energy.\nKaitlyn | 56DcpvEI0Gawpidh | en | us | Adult | Feminine | A warm and smooth American adult voice that offers the kindness of a helpful neighbor.\nMichelle | lt88kyLfD8Mqemla | en | in | Young Adult | Feminine | A warm and smooth Indian English young adult voice for clear and friendly service.\nMary | wPx6HPbUQkaUHGhq | en | us | Adult | Feminine | A joyful high-pitched American adult voice that connects perfectly with younger audiences.\nCameron | c8BzreHTk1GG2R4z | en | us | Adult | Masculine | A steady low-pitched American adult voice ideal for tech reviews and casual explanations.\nJeremy | 9QHzSiOYUD-RzEzM | en | us | Adult | Masculine | A composed American adult voice that sounds intelligent and tech-savvy.\nJesse | hOhCtzjR-cRG4T5T | en | us | Young Adult | Masculine | A joyful high-pitched American young adult voice with a unique airy texture for character roles.\nSean | cu0XE3Cxmg_GmSJ3 | en | us | Adult | Masculine | A joyful American adult voice that brings the spirited energy of a rodeo announcer.\nCharles | P0GYBrxlhTy5CC87 | en | gb | Adult | Masculine | A warm and smooth British adult voice that hosts with a classic reliable radio presence.\nOlivia | kr-Om35JRqmA3Hzq | en | us | Young Adult | Feminine | A warm low-pitched American young adult voice that guides meditation with soothing calm.\nShelby | O0uTTRx5zcetDFX4 | en | us | Young Adult | Feminine | A joyful high-pitched American young adult voice that brings enthusiasm to web content.\nPatrick | Z5GIOZR45ieZ8M-W | en | us | Adult | Masculine | A joyful and smooth American adult voice perfect for clear and engaging public service announcements.\nRichard | HndphaVV7KTCfKQT | en | us | Adult | Masculine | A joyful high-pitched American adult voice that captures the excitement of sports commentary.\nJason | FOFDH8py3aghc5kb | en | us | Adult | Masculine | A joyful American adult voice that delivers radio content with a distinct engaging tone.\nKimberly | Abqwk2RWxlBEyv0j | en | gb | Adult | Feminine | A joyful high-pitched British adult voice that welcomes listeners with cheerful efficiency.\nTimothy | v5lib8tjaosy5sxQ | en | us | Adult | Masculine | A warm low-pitched American adult voice with a nostalgic friendly resonance.\nNathan | 4NU5PqxX2BdMEtWe | en | us | Adult | Masculine | A warm and smooth American adult voice that sounds just like your friendly neighbor.\nAdam | EbIA5CIcQoa6NNd2 | en | us | Adult | Masculine | A joyful and smooth American adult voice that greets the morning with radio-ready energy.\nAbigail | KRo-uwfno-KcEgBM | en | us | Adult | Feminine | A warm and airy American adult voice that adds a touch of magic and empathy to any story.\nMelissa | 8Tm8RKFEbnkRtkdA | en | us | Adult | Feminine | A joyful and smooth American adult voice that facilitates with upbeat enthusiasm.\nAllison | yU6yxQ3e8LKRwU84 | en | us | Adult | Feminine | A joyful high-pitched American adult voice that brings high energy to training and teaching.\nKelsey | MQC0U1yWvZXrppaF | en | us | Adult | Feminine | A balanced American adult voice that fits realistic everyday service interactions.\nHaley | aq7ltaIQ6ZJUY0jR | en | gb | Adult | Feminine | A confident and warm British adult voice versatile enough for e-learning support and storytelling.\nAnna | PS7enm5lVZiIvEKV | en | us | Adult | Feminine | A warm and smooth American adult voice that provides comfort and supportive guidance.\nKatherine | bvNlBZ3DWDoVy_Yc | en | us | Young Adult | Feminine | A warm and smooth American young adult voice that balances business professionalism with kindness.\nSteven | zyLIanWKViHkc6Wp | en | gb | Adult | Masculine | A steady and smooth British adult voice that offers helpful and consistent management advice.\nBrian | ptMwY_gvmFxXMmDf | en | us | Adult | Masculine | A steady American adult voice with a low-pitched tone suitable for distinct character roles.\nJose | LqFNS0u6EII7VHBx | en | us | Adult | Masculine | A warm low-pitched American adult voice that offers the reassuring guidance of a mentor.\nMadison | cuXxqSrGVntdhFpZ | en | gb | Young Adult | Feminine | A warm low-pitched British young adult voice that feels like a friendly neighbor.\nDylan | d9Fl9x8luXXX7u6E | en | us | Adult | Masculine | A warm and smooth American adult voice that keeps the flow going as a DJ or host.\nRebecca | GJSxJhSTPAGIPDwy | en | us | Adult | Feminine | A warm and airy American adult voice that manages and assists with a gentle touch.\nSamuel | pxKsJ_4kEMid5XpZ | en | au | Young Adult | Masculine | A warm and smooth Australian young adult voice that sounds like a friendly bartender or colleague.\nEric | knw-ddWDPNORRA4Z | en | us | Adult | Masculine | A joyful and smooth American adult voice that makes sales and service feel cheerful and easy.\nAlyssa | 22YWyuFACaMHsPh5 | en | us | Young Adult | Feminine | A warm and smooth American young adult voice that adds a relatable human touch to readings.\nAlexandra | 4nAcNUlNhEA_Kyjo | en | us | Adult | Feminine | A joyful and smooth American adult voice ideal for reading and hosting duties.\nJasmine | QPHuXnvRPQ57oXYy | en | us | Adult | Feminine | A joyful high-pitched American adult voice that commands the room with managerial confidence.\nBenjamin | IBVzgY91NZ1IJ0oP | en | gb | Adult | Masculine | A joyful and smooth British adult voice that leads events and shows with master-of-ceremony flair.\nAaron | Ve1zknlflaRwcAQw | en | gb | Adult | Masculine | A composed and smooth British adult voice perfect for technical and IT-related explanations.\nJordan | ws0Wb0PZXl21_Bbz | en | us | Young Adult | Masculine | A joyful American young adult voice that motivates with the energy of a fitness instructor.\nChristian | x69x43aS-5mVLCX2 | en | gb | Adult | Masculine | A warm and smooth British adult voice that sounds like a kind and knowledgeable scholar.\nThomas | m7fJRmVaJjG2TL1c | en | gb | Adult | Masculine | A warm and smooth British adult voice that brings an actor's versatility to conversation.\nMorgan | MGiwMOFxVe4a2aSU | en | gb | Adult | Feminine | A warm and airy British adult voice that guides listeners into a state of meditation.\nCody | SqHUVuEiTPSlIB5r | en | us | Adult | Masculine | A warm and resonant American adult voice that delivers radio quality with a professional touch.\nAlex | 91EdXxJDbWICDBgz | en | us | Adult | Neutral | A joyful high-pitched American adult voice that grabs attention in advertisements.\nBrianna | fggSYM_FGJ30QTTl | en | us | Young Adult | Feminine | A warm and smooth American young adult voice ideal for music radio and educational content.\nKevin | J2qsArcdozbto5Hn | en | au | Adult | Masculine | A joyful Australian adult voice that engages audiences as a TV host or tutor.\nVictoria | 8dBmiTurwb7KcxLY | en | us | Adult | Feminine | A warm and smooth American adult voice that conveys the reliability of a helpful colleague.\nNicole | T7UL6gmeDqqYiVe1 | en | us | Adult | Feminine | A joyful American adult voice with a sarcastic edge perfect for entertaining podcasts.\nJennifer | auZu0iT-fniQ4cJd | en | us | Adult | Feminine | A warm and smooth American adult voice that is always ready to help like a good friend.\nCourtney | UX3Hi2ZmK7tT0c3G | en | gb | Adult | Feminine | A joyful high-pitched British adult voice perfect for sales and professional announcements.\nStephanie | ikbJkd83GvuyoSLb | en | us | Adult | Feminine | A joyful and smooth American adult voice that sounds like a modern relatable mom.\nKyle | CjQcj4yeIs6h0uAb | en | us | Adult | Masculine | A joyful American adult voice that wakes up the audience with morning radio energy.\nLauren | SG3KnxbSOkkrY097 | en | us | Adult | Feminine | An assertive and smooth American adult voice that fits the modern urban businesswoman persona.\nAlexis | 74asmf7CXzjfopIX | en | us | Adult | Feminine | A joyful American adult voice that delivers customer service scripts with a bright distinct tone.\nMegan | exG4bLr-lZ_bI0jF | en | us | Adult | Feminine | A joyful high-pitched American adult voice that mixes customer service clarity with influencer energy.\nJonathan | 4u2uvwrHdTA2gRnZ | en | us | Adult | Masculine | A joyful high-pitched American adult voice with the charm of an old-timey character actor.\nRobert | gTAO-3xLZ8_WSfbm | en | us | Adult | Masculine | A warm and resonant American adult voice that brings a professional acting polish to any script.\nAlexander | 8sWSyTC7byLsbHkr | en | us | Adult | Masculine | A warm low-pitched American adult voice that motivates with the resonance of a fitness coach.\nRachel | dEcrv3B8XGHoox2_ | en | gb | Adult | Feminine | A warm low-pitched British adult voice that balances professional business tones with a calming presence.\nKayla | 9VXl5t2IMagUQAzg | en | gb | Adult | Feminine | A joyful British adult voice with a precise tone ideal for automated yet friendly service.\nElizabeth | u8rA2xOF_0LRnNSb | en | us | Adult | Feminine | A consistent and smooth American adult voice that provides clear and reliable customer service.\nAmanda | ZZb4X9ueHSdRlv9q | en | gb | Young Adult | Feminine | A joyful and hip British young adult voice that brings energy to podcasts and modern content.\nBrittany | 3bIdO9CHnAh_pRAf | en | in | Adult | Feminine | A joyful and smooth Indian English adult voice that is perfect for friendly HR and service roles.\nWilliam | VeVmpxxbyJiWrGNG | en | au | Adult | Masculine | A joyful high-pitched Australian adult voice that sounds like an energetic high school coach.\nHannah | lP7D1y02OQFtffU3 | en | us | Young Adult | Feminine | A warm and airy American young adult voice that creates a calm atmosphere for yoga and meditation.\nAnthony | 2V3TjbyQGPlkY6ON | en | au | Adult | Masculine | A joyful and smooth Australian adult voice that brings a cartoonish MC-style energy.\nJustin | 6Mp6PGnaCdb-US21 | en | us | Adult | Masculine | A distinct American adult voice with a characterful tone ideal for niche roles.\nJames | MZWrEHL2Fe_uc2Rv | en | us | Adult | Masculine | A warm and resonant American adult voice that excels at storytelling and persuasive advertising.\nDavid | OceLYI_PPbqsdgdV | en | gb | Young Adult | Masculine | A warm and smooth British young adult voice that captures the relaxed tone of a college student.\nRyan | AqRuVz8-e8u3BR00 | en | us | Adult | Masculine | A warm low-pitched American adult voice with a resonant rural charm for sales and storytelling.\nTaylor | EfuzJVuTmw_mA7PC | en | us | Adult | Feminine | A warm and efficient American adult voice that fits perfectly for automated customer support.\nSarah | aW5dxfdkzIFCIdXc | en | us | Young Adult | Feminine | A clear American young adult voice that is precise and perfect for student-focused reading.\nJoseph | MhsYZQ4bIfcDpokF | en | gb | Adult | Masculine | A warm and relatable British adult voice with a genuine blue-collar friendliness.\nSamantha | mn5sS7D8kYKETZXA | en | us | Adult | Feminine | A warm and professional American adult voice that is both helpful and authoritatively managerial.\nAustin | -0MuXG9RcCsuSVtb | en | us | Mature | Masculine | A warm rough-textured American mature voice that embodies the kindness of a gentle grandfather.\nDaniel | apU2CMobTyu92tZj | en | au | Adult | Masculine | A joyful and smooth Australian adult voice that brings a cheerful down-to-earth vibe to any chat.\nEmily | i1kmq28cO60ia35K | en | us | Young Adult | Feminine | A warm and smooth American young adult voice perfect for modern podcasting and influencing.\nBrandon | 2j8TWGsIiUl4G3kj | en | us | Young Adult | Masculine | A high-pitched joyful American young adult voice that sounds like your friendliest colleague.\nTyler | Ow5IKhni2ED3Xxhl | en | gb | Adult | Masculine | A warm and smooth British adult voice that blends tech-savviness with a friendly radio persona.\nNicholas | n2Gv34jje2ZiiNzK | en | us | Adult | Masculine | A joyful American adult voice with a relatable slightly clumsy charm perfect for sitcom-style scripts.\nAshley | QZMzHBlnJRjll_71 | en | us | Adult | Feminine | A warm low-pitched American adult voice that feels like a cool supportive friend or aunt.\nJoshua | bDlMqRew31ZJwrD- | en | us | Adult | Masculine | A joyful and resonant American adult voice that brings the classic energy of a radio host.\nJessica | wYY8mXKrKtwKsaXZ | en | us | Adult | Feminine | A consistent and smooth American adult voice that handles customer service with patience and clarity.\nJacob | ixaCTlZ5Xqf2XzQH | en | us | Mature | Masculine | A steady American mature voice with a unique old-timey texture for distinct conversational roles.\nChristopher | fs2Qj_X2Z2WvWJSU | en | gb | Adult | Masculine | A smooth British adult voice that conveys the trustworthy tone of a reliable expert.\nMatthew | X-wgJsZwQKhfebgK | en | us | Adult | Masculine | A high-pitched joyful American adult voice that pops with energy perfect for reading ads.\nMichael | Mj0Pzs94jCw8oVOC | en | us | Adult | Masculine | A low-pitched casual American adult voice with a sporty vibe for conversational content.\nOlivier | vMYQUSzm6GRkJX6d | fr | fr | Adult | Masculine | Friendly male voice tone is warm and welcoming.\nManon | p1fSBpcmVWngBqVd | fr | fr | Young Adult | Feminine | A gentle and warm voice with a calm and measured pace.\nJade | 3mM3xaoFjNMQa22C | fr | fr | Young Adult | Feminine | A young female speaker with a clear high-pitched and smooth voice.\nAmélie | J4XbCGPYNMigXcfZ | fr | fr | Young Adult | Feminine | A friendly voice with a clear tone and pleasant pitch.\nAdrien | 0LMAi0x_YVG_GLeM | fr | fr | Young Adult | Masculine | Clear smooth and moderately paced voice with a warm tone.\nSarah | -dOnYAX4N4GqSOee | fr | fr | Young Adult | Feminine | A warm and smooth French young adult voice perfect for friendly interactions and welcoming service.\nJennifer | N8xxxD_d-ZinGVI4 | fr | fr | Young Adult | Feminine | A warm and smooth French young adult voice ideal for friendly support and welcoming conversation.\nÉlodie | zba0owtqy4Gnewn9 | fr | fr | Adult | Feminine | A confident French adult voice that excels in corporate training compliance and narration.\nJustine | TJv-kucMsUo24VQe | fr | fr | Young Adult | Feminine | A confident and upbeat French young adult voice perfect for youth brands and energetic explanations.\nOcéane | YE0-JPiElafJrZaC | fr | fr | Young Adult | Feminine | A polished French young adult voice designed for professional broadcasting and reporting.\nLéa | QY_BJKHMElKDO12- | fr | fr | Adult | Feminine | A formal French adult voice that delivers financial reports and news with absolute precision.\nSarah | QkmUhBH4hIV2_BkY | fr | fr | Adult | Feminine | A confident and compassionate French adult voice ideal for biographies support and non-fiction.\nMathieu | D-IpHY1UI0iX9xQD | fr | fr | Adult | Masculine | An assertive and energetic French adult voice perfect for high-stakes promos and executive presentations.\nClément | twLGV8mrH_ycNpUn | fr | fr | Adult | Masculine | A confident and sincere French adult voice that lends credibility to expert topics and emotional appeals.\nJulie | k1wgs3k8-wRxTJO6 | fr | fr | Adult | Feminine | A joyful and enthusiastic French adult voice that makes news and education feel fresh and engaging.\nDylan | Hdf5cdfaGrLDTD63 | fr | fr | Adult | Masculine | A sincere and emotional French adult voice that offers genuine support and relatable warmth.\nMarion | 1VAVLmmbQFDw7TMn | fr | fr | Adult | Feminine | A warm and trustworthy French adult voice that shines in storytelling education and fantasy roles.\nPauline | 2AtP1urAQkZaeI2U | fr | fr | Adult | Feminine | A professional and articulate French adult voice suited for serious journalism and formal announcements.\nVincent | B09t5S64xLaKwXeW | fr | fr | Adult | Masculine | A warm and wise French adult voice perfect for historical narration and supportive guidance.\nPierre | AroCL6f1qizjiZ_a | fr | fr | Young Adult | Masculine | An energetic French young adult voice that brings a lively journalistic flair to news and updates.\nGuillaume | qTA0lxFpynJdoxx7 | fr | fr | Young Adult | Masculine | A joyful and adventurous French young adult voice ideal for dynamic storytelling and sports reporting.\nRomain | zpmn3GOfiU_i5QGo | fr | fr | Adult | Masculine | A warm and steady French adult voice that delivers quick instructions and interviews with clarity.\nKévin | IB53xJtufx1sbfbt | fr | fr | Adult | Masculine | A sincere and emotional French adult voice that brings depth and wisdom to narratives and heartfelt ads.\nFlorian | kw_VWSocR7vyA9Ty | fr | fr | Adult | Masculine | A joyful and relatable French adult voice that sounds like a friendly journalist or the guy next door.\nAntoine | hx1RAC4Lqd9xyTAr | fr | fr | Adult | Masculine | A gritty and confident French adult voice perfect for intense narration and expert instruction.\nQuentin | pdcyd1mLmo0fcg3O | fr | fr | Adult | Masculine | A confident and sincere French adult voice that connects effortlessly in tech explainers and documentaries.\nMélanie | xynYWquoAsrvM7UY | fr | ca | Adult | Feminine | A warm and clear Canadian French adult voice designed for friendly assistance and educational guidance.\nAdam | aNiSRZ0BhQxO1FPx | fr | fr | Adult | Masculine | A warm and formal French adult voice that brings a calm professional touch to corporate communications.\nAnaïs | ImBVnxSeLsdCfNIV | fr | fr | Young Adult | Feminine | A distinctive French young adult voice with a sharp tone perfect for lifestyle and character roles.\nMarine | GmGF_3ETsY2Zq7_w | fr | fr | Adult | Feminine | A warm and nurturing French adult voice ideal for storytelling education and empathetic support.\nMaxime | s0PhgjzOTRD5wo5L | fr | ca | Adult | Masculine | A joyful and instructional Canadian French voice that makes learning and support feel effortless.\nAlexandre | HBfu9XA3QfzAG1MN | fr | ca | Adult | Masculine | A high-energy and assertive Canadian French voice perfect for fast-paced promos and clear instructions.\nCamille | w9V1722uEmTkWqnR | fr | fr | Adult | Feminine | A joyful and professional French adult voice that delivers corporate and journalistic scripts with energy.\nMarie | BbLb4TxdlrldgpHI | fr | fr | Adult | Feminine | A warm and professional French adult voice ideal for calm instruction and empathetic communication.\nThomas | 8nsAoui8Y5RK9PYw | fr | fr | Adult | Masculine | A confident and sincere French adult voice that drives action in commercials and educational explainers.\nChloé | rIYDMY3dLccdauWA | fr | fr | Adult | Feminine | A bright and versatile French adult voice perfect for friendly assistance education and lifestyle content.\nNicolas | mxcKXLymdLQCdlEq | fr | fr | Adult | Masculine | An assertive and warm French adult voice that brings strength and character to narration and promos.\nLaura | Jlh1B0PKQJyup0sQ | fr | fr | Adult | Feminine | A helpful and clear French adult voice that excels in both educational content and empathetic service.\nAmandine | NvHEAMGiPT4u8iT- | fr | fr | Adult | Feminine | A versatile and joyful French adult voice capable of shifting from warm education to playful character work.\nValentin | WWHSNJCSTm77dyGd | fr | fr | Adult | Masculine | A warm and lively French adult voice that brings a spark of genuine enthusiasm to any script.\nManu | L6OaiBybqikfCBk0 | fr | fr | Young Adult | Masculine | A pleasant voice with a low pitch and smooth texture.\nSofia | s4CzgVHP5cEkB9LD | es | es | Adult | Feminine | Soft low-pitched and smooth with a slow and measured pace.\nPablo | aCWBiYUiQ4VwW8_b | es | es | Adult | Masculine | A warm low-pitched Spanish adult voice that brings a calm smooth authority to any script.\nCarlos | yPxeHKlCzaHeKd_V | es | es | Adult | Masculine | A warm and versatile Spanish adult voice that adapts seamlessly from ads to professional settings.\nAdrián | r5WB0b126tlHSrku | es | mx | Young Adult | Masculine | A warm and smooth Mexican young adult voice that naturally bridges journalism and conversation.\nAlberto | h39kz1iyoymcjcqh | es | es | Young Adult | Masculine | A warm Spanish young adult voice with a hosting flair perfect for media and customer engagement.\nElena | PqjKPYFyGNsg1YU- | es | es | Young Adult | Feminine | A warm and engaging Spanish young adult voice that makes journalism and education feel accessible.\nJavier | wGhY_zZCoQ5gB0ce | es | ar | Adult | Masculine | A warm and smooth Argentine adult voice that delivers professional and social content with charm.\nSergio | -8ZoUJpVU98rxpv9 | es | mx | Young Adult | Masculine | An energetic Mexican young adult voice that brings a bright modern feel to customer service and ads.\nDavid | zdE2H9vw2vcMl_Pt | es | mx | Adult | Masculine | A joyful and smooth Mexican adult voice that fits perfectly in both casual chats and formal spots.\nAna | ynR4CAbXMiOv-vGC | es | es | Young Adult | Feminine | A warm and versatile Spanish young adult voice ideal for everything from ads to professional service.\nSara | lPCVUcicz2XRaLE3 | es | es | Adult | Feminine | A warm and knowledgeable Spanish adult voice that balances journalistic clarity with conversational ease.\nMarta | VAb2M8nKHlUUZBk4 | es | mx | Young Adult | Feminine | A warm and relatable Mexican young adult voice perfect for connecting with Gen Z audiences.\nDaniel | R3L8t75ZEoZCPUA9 | es | es | Adult | Masculine | A confident low-pitched Spanish adult voice that commands respect in professional and service contexts.\nAlejandro | eorxD0DWv--n7l3p | es | es | Young Adult | Masculine | A joyful and smooth Spanish young adult voice that adds a fresh energy to advertisements.\nCristina | Bwl2KLUPxf82_ZaJ | es | mx | Adult | Feminine | A joyful and resonant Mexican adult voice ideal for vibrant social media and character work.\nCarmen | zhH3lPUo-JxmlOJT | es | co | Young Adult | Feminine | An energetic Colombian young adult voice that captures the lively spirit of a millennial streamer.\nMaría | k2B3TJiffePxjeBn | es | co | Young Adult | Feminine | A warm and smooth Colombian young adult voice that brings a friendly touch to education and ads.\nMiguel | Gijj_GPBfJVcP-FZ | es | es | Adult | Masculine | A steady Spanish adult voice with a robotic edge perfect for automated customer service.\nLaura | xB86uC_i8sO2U41- | pt | br | Adult | Feminine | A smooth and pleasant voice perfect for a nice chat.\nFrederico | L7890s1B44FqSiGC | pt | br | Adult | Masculine | A clear low-pitched voice spoken with a smooth texture\nEduardo | hAdJ9w9xBQkFgrRl | pt | br | Adult | Masculine | A clear low-pitched voice with a smooth texture.\nRodrigo | EzmLkNorEpZG_oNv | pt | pt | Young Adult | Masculine | A low-pitched Portuguese young adult voice that delivers information with calm confidence.\nBruna | Du_Dcv4fgXBDdubR | pt | pt | Adult | Feminine | A high-pitched energetic Portuguese adult voice perfect for engaging corporate training and narration.\nDaniel | _cP-0vSYfMmzR4al | pt | br | Adult | Masculine | A joyful and dynamic Brazilian adult voice that brings excitement to radio hosting and promos.\nLeonardo | YUKEEk7Y4Igsj1Ts | pt | pt | Adult | Masculine | An energetic and varied Portuguese adult voice ideal for lively radio spots and character work.\nThiago | QZtWUy8jmIroWiOu | pt | br | Adult | Masculine | A warm and versatile Brazilian adult voice that balances professional hosting with genuine kindness.\nPedro | Yee42wDKxEFHi0BS | pt | br | Young Adult | Masculine | A smooth low-pitched Brazilian young adult voice with a cool steady tone for scripts.\nMatheus | wT1bHy1Vq_0Bn73I | pt | pt | Adult | Masculine | A resonant and warm Portuguese adult voice that brings authority and kindness to educational content.\nJéssica | Fmt16x6anKfMMeSx | pt | br | Adult | Feminine | A smooth Brazilian adult voice designed for clear and professional customer service.\nFernando | 8QUaJGjSFdgHkuI8 | pt | br | Young Adult | Masculine | A warm and friendly Brazilian young adult voice that sounds like the approachable guy next door.\nJuliana | B6aHVROMF8FuKR07 | pt | pt | Young Adult | Feminine | A high-pitched energetic Portuguese young adult voice perfect for animated characters and lively dialogue.\nAna | 24cfpJbYGXZLE39T | pt | br | Adult | Feminine | A joyful and neighborly Brazilian adult voice that feels instantly familiar and welcoming.\nGustavo | T4yRIRCLji61Fz-N | pt | br | Adult | Masculine | A high-pitched friendly Brazilian adult voice ideal for approachable and caring roles.\nBruno | isyT17KHEj84P9w9 | pt | br | Adult | Masculine | A warm and helpful Brazilian adult voice that conveys genuine reliability and kindness.\nMaria | 73lMH7Zcc411nxJz | pt | pt | Adult | Feminine | A cheerful and helpful Portuguese adult voice that brightens any conversational script.\nLetícia | h6qFHXR3-bqPg_PE | pt | br | Adult | Feminine | A warm and empathetic Brazilian adult voice perfect for podcasting and supportive messaging.\nRafael | KpDAXeGeen7P9Uri | pt | pt | Adult | Masculine | A warm and friendly Portuguese adult voice ideal for relatable radio hosting and conversation.\nGabriel | 4ubKCfFxLeBg-cbl | pt | br | Adult | Masculine | An energetic and joyful Brazilian adult voice that commands attention with charismatic flair.\nLucas | AaTW_13X1yYe_OnX | pt | br | Adult | Masculine | A warm low-pitched Brazilian adult voice that adds a kind educational tone to any project.\nJoão | YHOBjtajNBEHUI_K | pt | br | Adult | Masculine | A smooth and clear Brazilian adult voice perfect for conversational delivery.\nMoritz | IIZIkBSZAmb9nFZb | de | de | Adult | Masculine | Clear low-pitched male voice with a smooth texture and a slow measured pace.\nLisa | kAoOc9Yb5EQDzA-N | de | de | Adult | Feminine | A soft and clear voice with a varied pitch.\nHans | vbg20SqFS_gBntTQ | de | at | Adult | Masculine | A calm low-pitched male delivery with a pleasant tone.\nFranziska | VXA4-0_ZN4o8q3vK | de | de | Adult | Feminine | A warm and smooth German adult voice that offers deep support with kindness.\nDavid | zyla-_bhVQtNTBdT | de | de | Adult | Masculine | A smooth German adult voice that educates with a calm low tone.\nLea | lSVEPWl_N_7MtcHe | de | de | Adult | Feminine | A warm and smooth German adult voice that teaches with a friendly approachable style.\nStefanie | hXjVvZ6oDDGQAQFj | de | de | Young Adult | Feminine | A confident and airy German young adult voice that reads with sincerity and clarity.\nTom | xq0vDziADfAmg6Uh | de | de | Adult | Masculine | An airy German adult voice that speaks publicly with a formal high pitch.\nNiklas | -qKylkN2UPxd7Mmg | de | de | Adult | Masculine | A joyful and smooth German adult voice that handles customer care with formal positivity.\nMichelle | fJDF4lEH590XplFv | de | de | Adult | Feminine | A joyful and smooth German adult voice that coaches with high energy and encouragement.\nJasmin | h2o5CDDhV5wE3Bwi | de | de | Adult | Feminine | A balanced and airy German adult voice that makes book reading feel light and accessible.\nDominik | ZOiGbnYdgKSBM_rH | de | de | Adult | Masculine | A balanced and smooth German adult voice designed for formal customer care.\nSabrina | dK5Glio51HTxdMu0 | de | de | Adult | Feminine | A balanced and smooth German adult voice perfect for professional book reading.\nDennis | YHkMHL6WppbXd42a | de | de | Adult | Masculine | An airy German adult voice that delivers technical information with formal grace.\nJulian | LAmPTQZkwYJKRCKt | de | de | Adult | Masculine | A balanced and resonant German adult voice that coaches with a calm steady presence.\nJannik | RPw-aWdY8NBiIWeg | de | de | Adult | Masculine | A joyful and resonant German adult voice that motivates and coaches with authority.\nMelanie | bauuigqCZbJFfk5q | de | de | Adult | Feminine | A warm and smooth German adult voice that brings a professional deep perspective.\nChristian | WxHB2b5HxA0Kuq5u | de | de | Adult | Masculine | A joyful and smooth German adult voice that reports with energy and professionalism.\nNadine | 9O8ZawShJ7UwURjK | de | de | Adult | Feminine | A warm and smooth German adult voice that educates with journalistic precision.\nNicole | t1Y_yKjku5R46F9t | de | de | Adult | Feminine | A warm and airy German adult voice that delivers journalistic content with a kind touch.\nSebastian | KEMqb7dQlTCAEUx6 | de | de | Mature | Masculine | A steady resonant German mature voice that brings the comforting wisdom of a grandfather.\nLena | df4Al5gt14Am4Qaf | de | de | Adult | Feminine | A grounded and smooth German adult voice that reports the news with a steady tone.\nFabian | 42-EbMFThYfhVB83 | de | de | Adult | Masculine | A warm German adult voice that teaches with a high engaging energy.\nPatrick | 3-pqEMoGtIq7wXtH | de | de | Adult | Masculine | A steady and smooth German adult voice that explains educational topics with journalistic clarity.\nChristina | 9LhjfdN9LOrygqDi | de | de | Adult | Feminine | A warm and smooth German adult voice that offers insightful guidance with a friendly tone.\nJessica | --9DFXOPx8kJFsbe | de | de | Adult | Feminine | An airy German adult voice that delivers formal journalism with a light touch.\nJennifer | XFttJvHwReWtWQNQ | de | de | Adult | Feminine | A steady and smooth German adult voice that reports professionally and formally.\nVanessa | 8eZwfGLoSF2N0RB3 | de | de | Adult | Feminine | A warm and smooth German adult voice that engages listeners as a lively podcast host.\nMaria | sz-H9BxaRaqxQ2S0 | de | de | Adult | Feminine | A relaxed and airy German adult voice that hosts podcasts with a cool vibe.\nJonas | 6tFmjkrmrdhO2bXV | de | de | Adult | Masculine | A warm German adult voice that contemplates and converses with philosophical insight.\nAnna | D8iRHK1qJhqfE00v | de | de | Adult | Feminine | A balanced airy German adult voice that brings deep empathy to conversation.\nMarcel | Cw79FL0p0J6UM9El | de | de | Adult | Masculine | A balanced German adult voice that handles customer care with a clear high-pitched tone.\nKevin | AySdCEnP2nqRo1WM | de | de | Adult | Masculine | A steady and smooth German adult voice that maintains a formal journalistic standard.\nTobias | uycTGmIXbw_Y83p9 | de | de | Adult | Masculine | A low-pitched German adult voice that delivers technical details with care and precision.\nDaniel | H0GE4TqfCQGmpQhL | de | de | Adult | Masculine | A warm and resonant German adult voice that sounds like a friendly student peer.\nTim | -WFy9WtlQNE-dEV2 | de | de | Adult | Masculine | A steady and resonant German adult voice ideal for professional customer care interactions.\nPhilipp | ZsVFAOnjnEPxJVDI | de | de | Adult | Masculine | A balanced German adult voice that reads books with a smooth immersive flow.\nMaximilian | H3Rh9kJcd4gZidvN | de | de | Adult | Masculine | A warm German adult voice that educates with a calm low-pitched authority.\nSarah | ApPgTz3nMHOsWxhK | de | de | Adult | Feminine | A warm low-pitched German adult voice that offers the soothing understanding of a close confidant.\nFlorian | XnSnbQW98he4aULg | de | de | Adult | Masculine | A warm German adult voice that delivers news with a high resonant clarity.\nKatharina | AEJ61XaIaRill4cJ | de | de | Adult | Feminine | A steady low-pitched German adult voice designed for steady and engaging book reading.\nMona | T2NDxsof9FHYxgJj | de | de | Adult | Feminine | A warm and smooth German adult voice that brings a tutor's patience to any script.\nLaura | wBgI9XmASQwvQ13w | de | de | Adult | Feminine | A warm German adult voice that teaches and guides with a kind high-pitched tone.\nFelix | uF8PfAXrv6qU9UEM | de | de | Adult | Masculine | A smooth German adult voice perfect for straightforward journalistic reporting.\nJulia | FRTqjB2TL-Ix9GXW | de | de | Adult | Feminine | A warm and conversational German adult voice that sounds like a relatable student.\nAlexander | xki1DK6Ks6tuDmcb | de | de | Adult | Masculine | A warm German adult voice that reports with journalistic integrity and a resonant tone.\nLukas | 5UkFVe2B8OqLo-5R | de | de | Adult | Masculine | A low-pitched German adult voice that conveys the authority of a seasoned expert.\nJan | 1D38wv1wp-H7QcyM | de | de | Adult | Masculine | A balanced German adult voice with a high pitch ideal for clear customer care.\n  \n\n</details>\n\n# Custom Voices\n\nCreate and manage your own custom voice clones. Custom voices are passed to TTS using the `voice_id` parameter (not `voice`).\n\n## List All Custom Voices\n\n```python\nimport json\nimport gradium\n\nall_custom_voices = await gradium.voices.get(client)\nprint(json.dumps(all_custom_voices, indent=2))\n```\n\n## Get Specific Voice\n\n```python\nimport json\n\nvoice = await gradium.voices.get(client, voice_uid=\"abc123def456\")\nprint(json.dumps(voice, indent=2))\n```\n\n## Create Custom Voice\n\n```python\nimport json\n\nvoice = await gradium.voices.create(\n    client,\n    audio_file=\"my_voice_sample.wav\",\n    name=\"My Custom Voice\",\n    description=\"A voice created from my recording\",\n    start_s=0.0,\n)\nprint(json.dumps(voice, indent=2))\n```\n\n## Update Voice\n\n```python\nawait gradium.voices.update(\n    client,\n    voice_uid=\"abc123def456\",\n    name=\"Updated Voice Name\",\n    description=\"Updated description\",\n    start_s=1.5\n)\n```\n\n## Delete Voice\n\n```python\nawait gradium.voices.delete(client, voice_uid=\"abc123def456\")\n```\n\n# Credit Management\n\nCredits are consumed based on the audio generated: **1 credit equals 1 character of TTS**.\nOne minute is approximately 750 characters, so 1h of TTS generation is approximately 45 000 characters.\n\n## Get Credit Information\n\n```python\nimport json\n\ncredits_info = await gradium.usages.get(client)\nprint(json.dumps(credits_info, indent=2))\n```\n\n# Speech-to-Text (STT)\n\nThe Speech-to-Text model converts audio input into text transcriptions, supporting real-time streaming and a semantic VAD.\n\n## Basic Streaming Usage\n\n```python\nimport asyncio\nimport gradium\n\nasync def main():\n    client = gradium.client.GradiumClient(api_key=\"your-api-key\")\n\n    # Audio generator that yields audio chunks\n    async def audio_generator(audio_data, chunk_size=1920):\n        for i in range(0, len(audio_data), chunk_size):\n            yield audio_data[i : i + chunk_size]\n\n    # Create STT stream\n    stream = await client.stt_stream(\n        {\"model_name\": \"default\", \"input_format\": \"pcm\"},\n        audio_generator(audio_data),\n    )\n\n    # Process transcription results\n    async for message in stream.iter_text():\n        print(message)\n\nif __name__ == \"__main__\":\n    asyncio.run(main())\n```\n\n## Setup Parameters\n\n- **`model_name`**: The STT model to use (default: `\"default\"`)\n- **`input_format`**: Audio format of the input data (supported: `\"pcm\"`,\n  `\"wav\"`, `\"opus\"`)\n\nWhen using `\"pcm\"` input format, the audio must adhere to the following\nspecifications:\n- **Sample Rate**: 24000 Hz (24kHz)\n- **Format**: PCM (Pulse Code Modulation)\n- **Bit Depth**: 16-bit signed integer\n- **Channels**: Single channel (mono)\n- **Chunk Size**: Recommended 1920 samples per chunk (80ms at 24kHz)\n\n## Message Types\n\nThe STT stream returns different types of messages:\n- **Text Messages** (`text`): Contain transcription results together with timestamps.\n- **VAD Messages** (`step`): Provide Voice Activity Detection information to determine\n  when the speaker has finished speaking.\n\n```python\n# Text messages containing transcription results\nasync for msg in stream._stream:\n    if msg.get(\"type\") == \"text\":\n        print(f\"Transcription: {msg}\")\n\n    # VAD (Voice Activity Detection) messages\n    elif msg.get(\"type\") == \"step\":\n        vad_info = msg.get(\"vad\", {})\n        # Use msg[\"vad\"][2][\"inactivity_prob\"] to detect turn completion\n        # VAD steps occur every 80ms\n        inactivity_probability = msg[\"vad\"][2].get(\"inactivity_prob\")\n        print(f\"Inactivity probability: {inactivity_probability}\")\n```",
      "x-displayName": "Documentation"
    },
    {
      "name": "TTS",
      "description": "Text-to-Speech endpoints for converting text to audio"
    },
    {
      "name": "STT",
      "description": "Speech-to-Text endpoints for converting audio to text"
    },
    {
      "name": "Voices",
      "description": "Manage custom voice clones"
    },
    {
      "name": "Credits",
      "description": "Monitor API credit balance"
    }
  ]
}